/* * It's done when the page uses universal, element, and class selectors in CSS. */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

body {
  position: relative;
  background-color: aliceblue;
  color: grey;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fdf8f5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: darksalmon;
}

header {
  position: fixed;
  border-bottom: 10px solid #ddaf94;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid darkgray;
  color: aliceblue;
}

figure {
  margin-top: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #ddaf94;
  background-color: aliceblue;
}

form {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border: 5px solid #ddaf94;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input,
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid darkslategrey;
}

textarea {
  vertical-align: top;
  height: 60px;
}

button {
  height: 40px;
  width: 120px;
  background-color: darkslategray;
  color: aliceblue;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
